<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Inflectra.SpiraTest.IDEIntegration.VisualStudio2012.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Inflectra.SpiraTest.IDEIntegration.VisualStudio2012.Properties.Settings>
			<setting name="ShowUnassigned" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowCompleted" serializeAs="String">
				<value>False</value>
			</setting>
		</Inflectra.SpiraTest.IDEIntegration.VisualStudio2012.Properties.Settings>
	</userSettings>
	<startup>
	</startup>
</configuration>
